@import url(../css/clash-display.css);

:root {
    --c-light-blue:	#362f94;
    --c-brand: #7b2440;
    --c-brand-light: #b4b7c0;
    --c-brand-rgb: hsl(216, 56%, 71%);
    --c-body: #88c9e3;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: #12f912; 
    --transition: all 0.5s ease;

}

body {
font-family: var(--font-base);
line-height: 1.7;
color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 550;
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color:var(--c-brand-light);
}